.video--has-image {
  display: block;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
  }

  &::before {
    width: 6rem;
    height: 6rem;
    background-color: black;
    transform: translate(-50%, -50%);
  }

  &::after {
    border-left: 1.5rem solid white;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    transform: translate(-42%, -50%);
  }

  &:hover {
    &::before {
      background-color: yellow;
    }
    &::after {
      border-left-color: black;
    }
  }
}